<launch>

  <!-- No special mode until distress call -->
  <param name="/team04/lost_active" value="false"/>
  <param name="/team04/helper_active" value="true"/>

  <!-- Run your helper supervisor -->
  <node pkg="team04" type="Helper.py" name="helper_supervisor" output="screen"/>

  <!-- Terminal 1: miro demo
       Terminal 2: roslaunch team04 helper_miro.launch -->
</launch>
